/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own
        base_layer {
            bindings = <
                &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Z     &kp LS(COMMA)     &kp I     &kp LS(DOT)     &kp BSPC
                &kp A     &kp S     &kp D     &kp F     &kp G     &kp X     &kp J             &kp K     &kp L           &kp PSCRN
                &kp Z     &kp X     &kp C     &kp V     &kp B     &kp Y     &kp LEFT          &kp DOWN  &kp UP          &kp RIGHT
                                              &kp TAB   &kp BSPC  &mkp LCLK &mkp MCLK
            >;
        };

    };
};
